<div class="container">
  <h1>Modifica Offerta di Lavoro</h1>

  <!-- Mostra un messaggio o un indicatore di caricamento mentre i dati sono in fase di recupero -->
  <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
    <span class="sr-only">Caricamento...</span>
  </div>

  <!-- Mostra il modulo solo quando i dati sono stati caricati -->
  <form *ngIf="!isLoading" (ngSubmit)="editJob()">
    <div class="mb-3">
      <label for="titolo" class="form-label">Titolo</label>
      <input
        type="text"
        id="titolo"
        class="form-control"
        [(ngModel)]="job.Titolo"
        name="Titolo"
        required
      />
    </div>

    <div class="mb-3">
      <label for="descrizione" class="form-label">Descrizione Breve</label>
      <textarea
        id="descrizione"
        class="form-control"
        [(ngModel)]="job.DescrizioneBreve"
        name="DescrizioneBreve"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="azienda" class="form-label">Azienda</label>
      <input
        type="text"
        id="azienda"
        class="form-control"
        [(ngModel)]="job.Azienda"
        name="Azienda"
        required
      />
    </div>

    <div class="mb-3">
      <label for="provincia" class="form-label">Provincia</label>
      <input
        type="text"
        id="provincia"
        class="form-control"
        [(ngModel)]="job.Provincia"
        name="Provincia"
        required
      />
    </div>

    <div class="mb-3 form-check">
      <input
        type="checkbox"
        id="smartWorking"
        class="form-check-input"
        [(ngModel)]="job.SmartWorking"
        name="SmartWorking"
      />
      <label for="smartWorking" class="form-check-label">Smart Working</label>
    </div>

    <div class="mb-3">
      <label for="retribuzione" class="form-label"
        >Retribuzione Lorda (€)</label
      >
      <input
        type="number"
        id="retribuzione"
        class="form-control"
        [(ngModel)]="job.RetribuzioneLorda"
        name="RetribuzioneLorda"
        required
      />
    </div>

    <div class="mb-3">
      <label for="tipologia" class="form-label">Tipologia Contratto</label>
      <input
        type="text"
        id="tipologia"
        class="form-control"
        [(ngModel)]="job.TipologiaContratto"
        name="TipologiaContratto"
        required
      />
    </div>

    <button type="submit" class="btn btn-warning">Salva Modifiche</button>
  </form>
</div>
